/* fonts */
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* shared styles */
.primary-color {
    color:#4E47FF ;
}
.share-button {
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border: none;
    border-radius: 5px;
}


/* header styles */
.header{
    background-image: url(../Assets/Hero-bg.png);
}
/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3 {
    font-size: 34px;
    margin-top: 50px;
    margin-left: 150px;
    font-weight: 900;
}
nav ul li {
    list-style: none;
}
nav ul li button {
    margin-top: 50px;
    margin-right: 150px;
}
/* banner styles */
.banner{
    text-align: center;
    margin: 0px 250px 0px 250px;
    
}
.banner p {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}
.banner button{
    margin-bottom: 150px;
}
/* action styles */
.action{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.action-content{
    margin-top: 177px;
    margin-bottom: 177px;
    padding: 135px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
}
.action-subtitle{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}
.action-img {
    border-radius: 48px;
    margin-right: 158px;

}
/* user styles */
.user{
    margin-top: 0px;
    margin-bottom: 136px;
    margin-left: 140px; margin-right: 140px;
    padding: 50px 90px;
    background-color: rgba(78, 71, 255, 0.1) ;
    max-width: 1140px;
    height: 250px;
    border-radius: 24px;
    
}
.user-title{
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 26px;
}
.user-amount{
    display: flex;
    gap: 150px;
    /margin-left: 255px; */
     text-align: center;  */
    margin-right: 255px;
}
.user-col-title{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 10px;
}
.user-col-subtitle{
    margin-bottom: 40px;
}
/* what styles */
.what{
    max-width: 1140px;
    margin-bottom: 137px;
}
.what-title{
    font-size: 42px;
    font-weight: bold;
    /* text-align: center; */
    margin-left: 450px;
}
.what-content{
    display: flex;
    /* align-items: center; */ */
}
.what-col{
    margin-left: 150px;
    gap: 20px;
}
.what-col-title{
    font-weight: 700;
}
.what-col-comment{
    display: flex;
}
.what-col-comment{
    align-items: center;
}
.name{
    color: rgba(117, 117, 117, 1);
    font-weight: 700;
    margin-bottom: 0px;
}
.date{
    color: rgba(117, 117, 117, 1);
    font-size: 14px;
    margin-top: 0px;
}
.what-col-comm-img{
    border-radius: 50px;
}
.what-col-comm-content{
    margin-left: 10px;
}
/* form styles */
.form{
    display: flex; 
    gap:auto;
    align-items: center;
    justify-content: center;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 214px;
}
.form-cotent{
    font-size:50px;
    font-weight: 500px;
    text-align: left;
    
    /* max-width: 530px; */
}
.form-main{
    max-width: 500px; 
}
.form-main input[type="text"] ,input[type="email"] ,textarea {
    font-size: 22px;
    font-weight: 500;
    display: block;
    padding: 20px 270px 20px 30px;
    margin-bottom: 20px;
   
}
.form-main label{
    font-size: 18px;
    font-weight: 600;
}
/* footer styles */
.footer{
    text-align: center;
    /* margin-bottom: 0px; */
    margin: 105px 300px; */
}
.footer-title{
    font-size: 100px;
    font-weight: 900;
}
.footer-subtitle{
    color: #8987A1;
    margin-top: 20px;
}
.footer-nav a {
    text-decoration: none;
    color: #8987A1;
    /* justify-content: space-around; */
    
}
.footer-nav-a{
    margin-right: 40px;
}